**/.DS_Store
*.code-workspace
**/taskdata
core
!core/
example-auth-as-service
!example-auth-as-service/
example-auth-as-service
!example-auth-as-service/
example-telemetry
!example-telemetry/
*.log.*
*.db